.reservation-card {
  color: #008080;
  background: white;
  padding: 1em 3em;
  margin: 1em;
  border-radius: 4px;
  border: 5px solid #008080;
}

.cancel {
  background: #008080;
  color: white;
  width: 100%;
  height: 3em;
}
