@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/cafe-img.jpeg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow-y: scroll;
}

.app-title {
  color: teal;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
.resy-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 95%;
  margin-top:1%;
}