.card-body{
  background-color: white;
  border:4px solid teal;
  margin-top: 3%;
  margin-left: 1%;
  width: 12%;
  height:14rem;
  padding:2%;
}
h2{
  color:teal;
}

.card-button{
background-color: teal;
color:white;
width: 100%;
padding:3%;
}
