.card-container {
    background-color: var(--off-white);
    border: 5px solid var(--main-clr);
    border-radius: 10px;
    color: var(--main-clr);
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-evenly;
    margin: 1rem;
    width: 20rem;
}

p {
    margin-block-start: .5rem;
    margin-block-end: .5rem;
}

button {
    background-color: var(--main-clr);
    color: var(--off-white);
    height: 2rem;
    margin-left: 12%;
    margin-right: 12%;
    width: 15rem;
}