@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: teal;
}

h1 {
  text-shadow: 2px 2px #ffffff;
}

.app-title {
  color: teal;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.resy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.resy {
  background-color: white;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 1rem;
  border: 0.2rem solid teal;
  border-radius: 1.5rem;
  height: 13rem;
}

button {
  border: none;
  background-color: rgb(123, 75, 40);
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem
}

button:hover {
  cursor: pointer;
  color: rgb(109, 76, 33);
  background-color: rgb(238, 227, 213);
}

input {
  margin: 0.5rem;
  height: 2rem;
  border-radius: 0.5rem
}