.resy-individual {
  border: 5px solid teal;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  color: teal;
  width: 250px;
}
button {
  background-color: teal;
  color: white;
  width: 80%;
  border: none;
  box-shadow: 1px 1px grey;
  cursor: pointer;

}